@font-face {
    font-family: "Akira";
    src: url(font/Akira\ Expanded\ Demo.otf);
}
@font-face {
    font-family: "Cocogoose";
    src: url(font/Cocogoose-Pro-Darkmode-trial.ttf);
}
@font-face {
    font-family: "Lemon Milk";
    src: url(font/LEMONMILK-Light.otf);
}
body{
    margin: 0;
    background-color: #e7e7e7;
}
#head{
    font-size: 50px;
    font-family: "Akira";
}
header{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
nav{
    background-color: #818181;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}
.navlink{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: "Lemon Milk";
}
#introContainer{
    display: flex;
    height: 700px;
    background-color: #121414;    
}
#para1{
    font-size: 35px;
    font-family: "Lemon Milk";
}
#name{
    font-size: 50px;
    color: rgb(146, 146, 146);
    margin-bottom: 0;
    font-family: "Akira";
}
#intro2{
    font-size: 70px;
    margin-top: 0;
    font-family: "Cocogoose";
}
#intro1{
    color: white;
    width: 70%;
    margin-left: 20px;
}
#introimg{
    height: 90%;
}
#aboutcontainer{
    height: 1000px;
    background-color: #e2e0e0;  
}
#aboutintrocontainer{  
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}
#aboutintro{
    font-size: 35px;
    font-family: "Lemon Milk";
    text-align: center;
}
#about1container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
#about1{
    width: 600px;
    height: 800px;
    background-color: #ffffff;
    color: white;
    font-size: 25px;
    font-family: "Lemon Milk";
    padding: 20px;
}
.info{
    color: black;
}
.fireball{
    width: 350px;
}
#about2{
    width: 600px;
    height: 800px;
    background-color: #ffffff;
    color: white;
    font-size: 25px;
    font-family: "Lemon Milk";
    padding: 20px;
}
footer{
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 400px;
}
.footertxt{
    color: white;
    font-size: 25px;
    font-family: "Lemon Milk";
}